*_build*
*.byte*
*.native*
*.cmi
*.cmo
*.cma
*.dvi
*.ps
.generated_dependencies
gromit*

src/staged/.generated-dependencies

src/staged/lexer.ml

src/staged/parser.ml

src/staged/parser.mli

src/staged/staged

src/toy/.generated-dependencies

src/toy/mlAlgebra.ml

src/toy/mlAlgebra_lexer.ml

src/toy/mlAlgebra_parser.ml

src/toy/mlAlgebra_parser.ml.bak

src/toy/mlAlgebra_parser.mli

src/toy/mlAlgebra_parser.mli.bak

src/toy/mlAlgebra_parser.mly

src/toy/mlAlgebra_parser.mly.bak

src/toy/toyLexer.ml

src/toy/toyParser.ml

src/toy/toyParser.mli

src/wallace/.generated-dependencies
